<section id="faq-contacto" class="faq-contact-section">
  <div class="faq-contact-wrapper">
    <div class="faq">
      <h2 class="faq-title">{{ 'FAQ.TITLE' | translate }}</h2>
      <div class="faq-item" *ngFor="let faq of faqs">
        <p class="question">{{ faq.question }}</p>
        <p class="answer">{{ faq.answer }}</p>
      </div>
      <a href="#" class="ver-mas" (click)="showMoreFAQs($event)">{{ 'FAQ.VIEW_MORE' | translate }}</a>
    </div>

    <!-- Sección de Formulario de Contacto -->
    <div class="contact">
      <h2 class="contact-title">{{ 'CONTACT.TITLE' | translate }}</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <label for="nombre">{{ 'CONTACT.NAME' | translate }}</label>
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          [class.error]="contactForm.get('nombre')?.invalid && contactForm.get('nombre')?.touched"
        >

        <label for="apellidos">{{ 'CONTACT.LASTNAME' | translate }}</label>
        <input
          type="text"
          id="apellidos"
          formControlName="apellidos"
          [class.error]="contactForm.get('apellidos')?.invalid && contactForm.get('apellidos')?.touched"
        >

        <label for="email">{{ 'CONTACT.EMAIL' | translate }}</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [class.error]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
        >

        <label for="mensaje">{{ 'CONTACT.MESSAGE' | translate }}</label>
        <textarea
          id="mensaje"
          formControlName="mensaje"
          rows="4"
          [class.error]="contactForm.get('mensaje')?.invalid && contactForm.get('mensaje')?.touched"
        ></textarea>

        <button
          type="submit"
          [disabled]="contactForm.invalid"
          [class.disabled]="contactForm.invalid"
        >
          {{ 'CONTACT.SEND' | translate }}
        </button>
      </form>
    </div>
  </div>
</section>
