

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #F8F7F2;
  color: #2d2d2d;
  line-height: 1.5;
}

.price::before {
    content: "💰";
    margin-right: 10px;
    font-size: 1.7em; /* Aumenta el tamaño del emoji */
    vertical-align: middle; /* Opcional: alinea mejor con el texto */
  }
  
  

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 30px;
  color: #2d2d2d;
}

.plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px 80px;
  margin-bottom: 20px;
}

.plan-container {
  display: flex;
  flex-direction: column;
}

.plan-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 22px;
  margin-top: 40px;
  color: #2d2d2d;
  text-align: center; /* Centrado de títulos */
  padding: 0 5px;
}

.plan-card {
  position: relative;
  background-color: 618985;
  border-radius: 10px;
  padding: 20px 15px 60px 15px;
  text-align: left;
  height: 100%;
}

.feature-list {
  list-style-type: none;
  margin-bottom: 15px;
  margin-bottom: 40px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #F8F7F2;
}

.feature-icon {
  background-color: #4d9c5d;
  color: white;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 10px;
}

button {
    background-color: #414535;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 12px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease; /* Efecto suave al cambiar */
  }
  
  button:hover {
    background-color: white; /* Fondo blanco cuando pasa el mouse */
    color: black; /* Letra negra cuando pasa el mouse */
    border: 2px solid black; /* Borde negro cuando pasa el mouse */
  }
  
  

.footer {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  color: #414535;
  max-width: 1000%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px;
  line-height: 1.4; /* Mejora la legibilidad */

}

.footer p {
    max-width: 1000px; /* ← forzamos más horizontalidad */
    margin: 0 auto;
  }


  .plan-box {
    background-color: #618985; /* Color de fondo */
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
  }
  
  

.s-hours {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #F2E3BC;
  margin-bottom: 10px;
}
